<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
 
  <div id="content">
    <h1>Hi, My name is Eric Kuhn</h1>
    <p>I built this site using Ruby on Rails.</p>
    <p>I used to use Wordpress for my blog, but wanted to practice my programming skills using Rails.</p>
    <p>You can find me on Twitter <a href="http://twitter.com/erickuhn19">@erickuhn19</a></p>
  </div>
</div>